<!doctype html>
<html class="no-js" lang="en">
<head>
{% include '_head.html' %}
</head>

<body class="home" itemscope itemtype="https://schema.org/WebPage">

{% include '_browser-upgrade.html' %}

{% include '_navigation.html' %}

{% if page.image.feature %}
<div class="image-wrap">
  <img src="/assets/img/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}

<div id="home" role="main"  itemprop="mainContentOfPage">
  <div class="article-author-side">
    {% include '_author-bio.html' %}
  </div>


  <div class="home-index" id="index" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/Blog">
    {{ content }}
  </div><!-- /#index -->

  <div class="footer-wrap">
    <footer>
      {% include '_footer.html' %}
    </footer>
  </div><!-- /.footer-wrap -->

</div><!-- /#main -->

{% include '_scripts.html' %}

</body>
</html>
