<!doctype html>
<html class="no-js" lang="en">
<head>
{% include _head.html %}
</head>

<body class="page" itemscope itemtype="https://schema.org/WebPage">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}<div class="image-wrap">
  <img src="/assets/img/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
  {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{% endif %}
</div><!-- /.image-wrap -->{% endif %}

<div id="main" role="main"  itemprop="mainContentOfPage">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article itemscope itemtype="https://schema.org/CreativeWork">
    <h1 itemprop="name">{{ page.title }}</h1>
    <div class="article-wrap" itemprop="text">
      {{ content }}
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
